/* settings from Figma style guide + some default resetting */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  background-color: #ffffff;
  color: #434455;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  padding: 24px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: white;
  letter-spacing: 0.02em;
}

h2 {
  font-weight: 700;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding: 120px 0;
}

/* style for page */

/* navbar */
.main-header {
  background-color: white;
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.main-header .container {
  display: flex;
  align-items: center;
}

.nav-main {
  display: flex;
  align-items: center;
}

.nav-ul {
  display: flex;
  gap: 40px;
}

.nav-ul a:focus,
.nav-ul a:hover {
  color: #404bbf;
}

.active-link {
  color: #404bbf;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active-link::after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.logo {
  color: #2e2f42;
}

.logo-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  align-items: center;

  display: flex;
  margin-right: 76px;
}

.address-info {
  font-style: normal;
  display: flex;
  margin-left: auto;
}

.address-info ul {
  display: flex;
  gap: 40px;
}

.address-info a {
  font-weight: normal;
}

.address-info .address-link {
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-info .address-link:hover,
.address-info .address-link:focus {
  color: #404bbf;
}

/* hero section */

.hero {
  color: white;
  padding: 188px 0;
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url('../images/hero-bg.jpg');
  max-width: 1440px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hero h1 {
  margin-bottom: 48px;
  max-width: 496px;
}

.hero-button {
  margin: 0;
  background-color: #4d5ae5;
  color: white;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.04em;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* features section */
.features-header {
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.features-ul {
  display: flex;
  gap: 24px;
}

.features-ul li {
  width: calc((100% - 72px) / 4);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container-svg-features {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  height: 112px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  margin: 0 0 8px 0;
}

/* team section */
.team-header {
  line-height: 1.11;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin: 0 0 72px 0;
  color: #2e2f42;
}

.team-ul {
  margin: 0;
  display: flex;
  gap: 24px;
}

.team-ul .team-li {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
}

.team-li {
  box-shadow:
    1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-li-header {
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-paragraph {
  font-size: 16px;
  text-align: center;
  margin-bottom: 8px;
}

.team-cards {
  background-color: #f4f4fd;
}

.team-container {
  padding: 32px 0;
}

.team-social-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.team-social-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-icon {
  fill: #f4f4fd;
  display: block;
}

.team-social-list .social-icon:hover,
.team-social-list .social-icon:focus {
  background-color: #404bbf;
}

/* portfolio section */

.portfolio-header {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  justify-content: center;
  margin: 0 0 72px 0;
}

.portfolio-li-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-ul {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-ul li {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-ul li:hover {
  box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

/* footer section */

.page-footer {
  padding: 100px 0;
  background-color: #2e2f42;
}

.footer-link {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo {
  color: #f4f4fd;
}

.container-footer-logo {
  max-width: 264px;
  margin-right: 120px;
}

.footer-paragraph {
  color: #f4f4fd;
}

.container-footer-links {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-right: 80px;
}

.page-footer .container {
  display: flex;
  align-items: baseline;
}

.footer-list {
  display: flex;
  gap: 16px;
}

.footer-links-paragraph {
  color: #ffffff;
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

/* social icons */
.social-icon {
  border-radius: 50%;
  display: flex;
  background-color: #4d5ae5;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer .social-icon:hover,
.page-footer .social-icon:focus {
  background-color: #31d0aa;
}

/* features popup*/

.features-popup-container {
  position: relative;
  overflow: hidden;
}

.popup-paragraph {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.features-popup-container:hover .popup-paragraph {
  transform: translateY(0%);
}

/* subscribe container */
.container-subscribe {
  display: flex;
  gap: 24px;
}

.subscribe-paragraph {
  margin-bottom: 16px;
  color: #f4f4fd;
}

.subscribe-align-items {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.subscribe-input {
  background-color: #2e2f42;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  border: 1px solid white;
}

.subscribe-input::placeholder {
  color: #f4f4fd;
  padding-left: 16px;
}

.subscribe-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 165px;
  height: 40px;
  cursor: pointer;
  border-radius: 4px;
  background-color: #4d5ae5;
  color: #f4f4fd;
  gap: 16px;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.04em;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover {
  background-color: #404bbf;
}

/* modal window */
.modal-overlay-popup {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  opacity: 0;
  pointer-events: none;
}

.modal-overlay-popup.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal-window {
  background-color: #fcfcfc;
  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);

  width: 408px;
  height: 584px;
}

.modal-paragraph {
  text-align: center;
}

.modal-form {
  display: flex;
  flex-direction: column;
  padding: 0 24px;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
}

.modal-input {
  border: 1px solid #2e2f42;
  border-radius: 4px;
  width: 360px;
  height: 40px;
}

.modal-comment {
  height: 80px;
}

.modal-label {
  font-size: 12px;
  margin-top: 16px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.modal-send-button {
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  cursor: pointer;
  border-radius: 4px;
  background-color: #4d5ae5;
  color: #f4f4fd;
  gap: 16px;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.04em;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 24px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.modal-send-button:hover {
  background-color: #404bbf;
}

.modal-checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.modal-checkbox-wrapper {
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-close-button {
  border-radius: 50%;
  border: 1px solid #e7e9fc;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  margin: 24px 24px 24px auto;
}

.modal-link {
  padding: 0;
  margin: 0;
  color: #4d5ae5;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration: underline;
}
